# automation of Sprsun heat pump

automation:

- id: sprsun_pc_wybieramy_tryb_pracy_pompy_obiegowej_19e
  alias: Heat pump - Circulation pump mode
  trigger:
    platform: state
    entity_id: input_select.sprsun_pc_g02_pump_work_0_interval_1_normal_2_demand_19e
    id: select
    to:
  condition: []
  action:
  - choose:
    - conditions:
      - condition: trigger
        id: input
      sequence:
      - variables:
          values:
            '0': 0 Interval
            '1': 1 Normal
            '2': 2 Demand
      - service: input_select.select_option
        target:
          entity_id: input_select.sprsun_pc_g02_pump_work_0_interval_1_normal_2_demand_19e
        data:
          option: '{{ values.get(trigger.to_state.state) }}'
    - conditions:
      - condition: trigger
        id: select
      sequence:
      - service: modbus.write_register
        data_template:
          address: 414
          slave: 1
          hub: Sprsun HP
          value: '{{ trigger.to_state.state[0] | int(0)  }}'
- id: sprsun_pc_wybieramy_tryb_pracy_kompresora_190
  alias: Heat pump - Fan mode
  trigger:
    platform: state
    entity_id: input_select.sprsun_pc_tryb_pracy_kompresora_190
    id: select
    to:
  condition: []
  action:
  - choose:
    - conditions:
      - condition: trigger
        id: input
      sequence:
      - variables:
          values:
            '0': 0 Turbo
            '1': 1 ECO
            '2': 2 Sleep
            '3': 3 HI-COP
      - service: input_select.select_option
        target:
          entity_id: input_select.sprsun_pc_tryb_pracy_kompresora_190
        data:
          option: '{{ values.get(trigger.to_state.state) }}'
    - conditions:
      - condition: trigger
        id: select
      sequence:
      - service: modbus.write_register
        data_template:
          address: 400
          slave: 1
          hub: Sprsun HP
          value: '{{ trigger.to_state.state[0] | int(0)  }}'

- id: sprsun_pc_wybieramy_tryb_pracy_p06_unit_mode_36
  alias: Heat pump - System operating mode
  trigger:
    platform: state
    entity_id: input_select.sprsun_pc_tryb_pracy_p06_unit_mode_36
    id: select
    to:
  condition: []
  action:
  - choose:
    - conditions:
      - condition: trigger
        id: input
      sequence:
      - variables:
          values:
            '0': 0 DHW
            '1': 1 Heating
            '2': 2 Cooling
            '3': 3 Heating and DHW
            '4': 4 Cooling and DHW
      - service: input_select.select_option
        target:
          entity_id: input_select.sprsun_pc_tryb_pracy_p06_unit_mode_36
        data:
          option: '{{ values.get(trigger.to_state.state) }}'
    - conditions:
      - condition: trigger
        id: select
      sequence:
      - service: modbus.write_register
        data_template:
          address: 54
          slave: 1
          hub: Sprsun HP
          value: '{{ trigger.to_state.state[0] | int(0)  }}'

- id: sprsun_pc_nastawiony_czas_po_g03_start_internal_185
  alias: Heat pump - Circulation pump interval
  trigger:
    platform: state
    entity_id: input_number.sprsun_pc_nastawiony_czas_po_g03_start_internal_185
  action:
    service: modbus.write_register
    data_template:
      address: 389
      hub: Sprsun HP
      unit: 1
      value: '{{ ((states(''input_number.sprsun_pc_nastawiony_czas_po_g03_start_internal_185'')
        | float) | multiply(1) | int) }}'

- id: sprsun_pc_nastawiony_czas_h08_defros_period_1_0038
  alias: Heat pump - Defrost interval setting 1
  trigger:
    platform: state
    entity_id: input_number.sprsun_pc_nastawiony_czas_h08_defros_period_1_0038
  action:
    service: modbus.write_register
    data_template:
      address: 56
      hub: Sprsun HP
      unit: 1
      value: '{{ ((states(''input_number.sprsun_pc_nastawiony_czas_h08_defros_period_1_0038'')
        | float) | multiply(1) | int) }}'

- id: sprsun_pc_nastawiony_czas_h11_defros_period_2_0039
  alias: Heat pump - Defrost interval setting 2
  trigger:
    platform: state
    entity_id: input_number.sprsun_pc_nastawiony_czas_h11_defros_period_2_0039
  action:
    service: modbus.write_register
    data_template:
      address: 57
      hub: Sprsun HP
      unit: 1
      value: '{{ ((states(''input_number.sprsun_pc_nastawiony_czas_h11_defros_period_2_0039'')
        | float) | multiply(1) | int) }}'

- id: sprsun_pc_nastawiony_czas_h14_defros_period_3_003a
  alias: Heat pump - Defrost interval setting 3
  trigger:
    platform: state
    entity_id: input_number.sprsun_pc_nastawiony_czas_h14_defros_period_3_003a
  action:
    service: modbus.write_register
    data_template:
      address: 58
      hub: Sprsun HP
      unit: 1
      value: '{{ ((states(''input_number.sprsun_pc_nastawiony_czas_h14_defros_period_3_003a'')
        | float) | multiply(1) | int) }}'

- id: sprsun_pc_nastawiona_max_freq_of_water_r00
  alias: Heat pump - Max compressor freq setting for DHW heating T>14
  trigger:
    platform: state
    entity_id: input_number.sprsun_pc_nastawiona_freq_of_water_r00
  action:
    service: modbus.write_register
    data_template:
      address: 252
      hub: Sprsun HP
      unit: 1
      value: '{{ ((states(''input_number.sprsun_pc_nastawiona_freq_of_water_r00'')
        | float) | multiply(1) | int) }}'

- id: sprsun_pc_nastawiona_max_freq_of_heat_r04
  alias: Heat pump - Compressor max freq setting for heating T>14
  trigger:
    platform: state
    entity_id: input_number.sprsun_pc_nastawiona_freq_of_heat_r04
  action:
    service: modbus.write_register
    data_template:
      address: 260
      hub: Sprsun HP
      unit: 1
      value: '{{ ((states(''input_number.sprsun_pc_nastawiona_freq_of_heat_r04'')
        | float) | multiply(1) | int) }}'

- id: sprsun_pc_nastawiona_max_freq_of_water_r01
  alias: Heat pump - Max compressor freq setting for DHW heating 9>T<14
  trigger:
    platform: state
    entity_id: input_number.sprsun_pc_nastawiona_freq_of_water_r01
  action:
    service: modbus.write_register
    data_template:
      address: 253
      hub: Sprsun HP
      unit: 1
      value: '{{ ((states(''input_number.sprsun_pc_nastawiona_freq_of_water_r01'')
        | float) | multiply(1) | int) }}'

- id: sprsun_pc_nastawiona_max_freq_of_heat_r05
  alias: Heat pump - Compressor max freq setting for heating 9>T<14
  trigger:
    platform: state
    entity_id: input_number.sprsun_pc_nastawiona_freq_of_heat_r05
  action:
    service: modbus.write_register
    data_template:
      address: 261
      hub: Sprsun HP
      unit: 1
      value: '{{ ((states(''input_number.sprsun_pc_nastawiona_freq_of_heat_r05'')
        | float) | multiply(1) | int) }}'

- id: sprsun_pc_nastawiona_min_freq_dc_pump
  alias: Heat pump - Circulation pump min freq setting
  trigger:
    platform: state
    entity_id: input_number.sprsun_pc_nastawiona_min_freq_dc_pump
  action:
    service: modbus.write_register
    data_template:
      address: 394
      hub: Sprsun HP
      unit: 1
      value: '{{ ((states(''input_number.sprsun_pc_nastawiona_min_freq_dc_pump'')
        | float) | multiply(1) | int) }}'



